<header class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <hgroup>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
      </hgroup>

      <hgroup>
        <a class="brand" href="/">TMaYaD</a>
      </hgroup>

      <hgroup>
        <p class="navbar-text pull-left">Life happens</p>
      </hgroup>

      <hgroup>
        <form method="get" action="http://www.google.com/search" class="navbar-search pull-right">
          <input type="text" name="q" class="search-query" placeholder="Search">
          <input type="hidden"  name="sitesearch"  value="tmayad.github.com" />
          <input type="submit" class="search-query icon-search icon-white" value=" " />
        </form>
      </hgroup>

      <hgroup>
        <ul class="nav pull-right">
          <li><a href="/">Home</a></li>
          <li><a href="/archives.html">Archives</a></li>
        </ul>
      </hgroup>
    </div>
  </div>
</header>
